.productInfo {
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
}

.image {
    display: grid;
}

.image__LargeImg {
    display: grid;
    margin-top: 7px;
}

.image__LargeImg img {
    width: 100% !important;
    max-height: 500px;
    object-fit: contain;
}

.productZoomSlider {
    margin-top: 20px;

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 20px;
        font-weight: 900;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }

    .swiper-button-prev {
        left: -4px !important;
    }

    .swiper-button-next {
        right: -6px;
    }

    .swiper-slide {
        width: 50px !important;
        height: 50px;

        .sliderImg {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: 1px solid #ebebeb;
            border-radius: 4px;

            &:first-child {
                margin-left: 30px;
            }

            &:hover {
                border: 2px solid #ff6e26;
            }
        }

    }
}