.payment-page {
    background: rgba(209, 237, 255, 1)
}

.section-img {
    font-size: 20px;
    margin: auto;
    // height: 385px;
}

.inner-content {
    h3 {
        text-align: center !important;
        background-color: #2B74BE;
        color: #fff;
        padding: 8px 0;
    }
}