.recommendWrapper {

    .swiper-button-next,
    .swiper-button-prev {
        top: 45%;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #333;
        font-size: 25px;
        font-weight: 900;

    }
}