.searchIconNone {
    opacity: 0 !important;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

.searchIconShow {
    opacity: 1 !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}