.ratingWrapper {
    position: relative;

    &:hover {
        .starList {
            display: block;
        }
    }

    .downArrow {
        color: #c9c9c9;
        font-size: 12px;
        margin-left: 3px;
        margin-top: 2px;
    }

    .starList {
        display: none;
        position: absolute;
        left: 50%;
        top: 22px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 12px;
        background: #fff;
        z-index: 5;
        -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 8%);
        box-shadow: 0 3px 12px rgb(0 0 0 / 8%);
        border: 1px solid #ebedf0;
        border-radius: 4px;
        white-space: nowrap;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: -16px;
            left: 50%;
            margin-left: -8px;
            border: 8px solid rgba(0, 0, 0, 0);
            border-bottom-color: #ebedf0;
        }

        &::after {
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
            top: -15px;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: #666;
            line-height: 19px;

            strong {
                color: #333;
            }
        }
    }
}

.ratingList {
    margin-top: 12px;
    overflow: hidden;

    dd {
        height: 17px;
        line-height: 17px;
        margin-bottom: 8px;
        font-size: 0;
        cursor: pointer;

        span {
            display: inline-block;
            font-size: 12px;
            vertical-align: top;
            color: #666;
        }

        .starNumber {
            color: #333;
        }

        .startProgress {
            width: 120px;
            height: 10px;
            background: #f5f6f8;
            border-radius: 8px;
            overflow: hidden;
            margin: 0 12px;
            position: relative;
            top: 3px;

            em {
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
                font-size: 0;
                color: #c9c9c9;
                display: block;
                height: 100%;
                background: #ff6e26;
            }
        }
    }
}

.reviewNumbers {
    margin-left: 10px;
}

.productCode {
    margin-left: 27px;
    background-color: gray;
    display: inline-block;
    color: #fff;
    padding: 0px 8px;
    border-radius: 3px;
    position: relative;
    font-size: 10px;

    &::before {
        content: "";
        width: 1px;
        height: 11px;
        background: #b2b2b2;
        position: absolute;
        left: -13px;
        top: 2px;
    }
}


.shippingTime {
    color: #999;
    margin-top: 8px;

    strong {
        font-weight: 600;
        color: #333;
    }

    .shippingTips {
        position: relative;
        top: 2px;
        margin: 0 8px;
        cursor: pointer;
        display: inline-block;

        svg {

            font-size: 17px;
            margin-top: -7px;

        }

        i {
            display: none;
            position: absolute;
            left: 50%;
            top: 30px;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: #fff;
            -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 8%);
            box-shadow: 0 3px 12px rgb(0 0 0 / 8%);
            border: 1px solid #ebedf0;
            border-radius: 4px;
            white-space: nowrap;
            font-size: 14px;
            color: #333;
            padding: 12px;
            z-index: 9;
            font-style: normal;

            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: -20px;
                margin-left: -10px;
                font-size: 0;
                width: 0;
                height: 0;
                line-height: 0;
                border: 10px solid rgba(0, 0, 0, 0);
                border-bottom-color: #ebedf0;
            }

            &::after {
                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
                top: -19px;
            }
        }

        &:hover {
            i {
                display: block;
            }
        }
    }
}


.productOverview {
    .ratingWrapper {
        .starList {
            transform: translateX(0%);
            left: -7px;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: -16px;
                left: 35%;
                margin-left: -8px;
                border: 8px solid rgba(0, 0, 0, 0);
                border-bottom-color: #ebedf0;
            }

            .ratingList dd .startProgress {
                width: 95px;
            }
        }
    }
}