@import '../../../assets/styles/variables';

.filterTitle {
    height: 20px;
    line-height: 20px;
    position: relative;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 15px;

    &:hover {
        color: $primary;
    }

    svg {
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -6px;
        width: 18px;
        height: 18px;
    }
}

.SeeMore {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    margin-top: 14px;
}

.filterBox {
    display: block;
    color: #666;
    font-size: 13px;
    padding: 0 8px 0 24px;
    position: relative;
    height: auto;
    line-height: 28px;
    cursor: pointer;

    input {
        width: 18px;
        height: 18px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 2px;
        text-align: center;
        line-height: 16px;
    }

    i {
        color: #999;
        font-style: normal;
    }

    &:hover {
        input {
            border: 1px solid #ffa666 !important;
        }
    }
}