@import '../../assets/styles/variables';

.product {
    text-decoration: none;
    color: #656d78;
}

.productImg {
    padding: 10px;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 4px;
    text-align: center;
    color: #656d78;
    text-decoration: none;
    outline: none;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .04);
        border-radius: 4px;
        -webkit-transition: background .3s;
        transition: background .3s;
    }

    &:hover::after {
        background: rgba(0, 0, 0, .08);
        -webkit-transition: background .3s;
        transition: background .3s;
    }

    img {
        width: 100%;
        border-radius: 4px;
    }
}


.productName {
    padding: 0 3px;
    text-align: center;

    span {
        display: block;
        color: #333;
        overflow: hidden;
        font-size: 12px;
        margin-top: 5px;
    }
}