.a-color {
    color: #1cb891;
    cursor: pointer;
}

.text-gray {
    color: #666;
}

.continue-btn {
    border: 1px solid darkorange;
    color: darkorange;
    padding: 5px 15px;
    text-align: center;
    background-color: #fff;

    &:hover {
        color: #fff;
        background: darkorange;
    }
}

.bg-light-green {
    background: #f8f9fb;
}

.pt-50 {
    padding-top: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.font-bolder {
    font-weight: 600;
}

.font-bold {
    font-weight: 700 !important;
}

.edit-button {
    border: none;
    background: #1cb891;
    padding: 5px 14px;
    border-radius: 5px;
    color: #fff;
}

.no-data {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process-btn {
    background: #d8dbe0;
    font-size: 13px;
    color: #333;
}

.about-title {
    line-height: 1.15;
    font-weight: 700;
    color: #333;
    text-align: center;
    padding: 80px 0 10px;
    position: relative;
    width: max-content;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        right: 0;
        left: 0;
        display: block;
        width: 65px;
        margin: 0 auto;
        height: 6px;
        background: #ff6e26;
    }
}

.custom-table {
    width: 100%;
    border: 1px solid rgb(168, 166, 166);
    text-align: center;

    thead {
        background: #e2e6e9;
        border-bottom: 1px solid rgb(168, 166, 166);

        tr {
            th {
                padding: 10px;
            }
        }
    }

    tbody {

        tr {
            &:nth-child(odd) {
                background: #f1f1f1;
            }

            &:hover {
                background: #dbd6d6;
            }
        }

        th,
        td {
            padding: 1px;
        }
    }

}

.react-tabs__tab-list {
    border-bottom: 3px solid gray;
}

.react-tabs__tab--selected {
    background: #fff;
    border: none;
    color: black;
    border-bottom: 3px solid #ef9721;
    border-radius: 0;
    font-weight: 600;
}

.react-tabs__tab {
    bottom: -3px;
    position: relative;

    &:hover {
        color: #ef9721;
    }
}

.react-tabs__tab:focus {
    box-shadow: none;
    border-color: none;
    outline: none;
}